<div class="dashboard-wrapper">
	<div class="concept-image-wrapper"></div>
	<!-- <div class="location-overlay-wrapper">
		<div class="location-input-wrapper">
			<div class=""><input type="text" class="standard-input" placeholder="Add Location"></div>
		</div>
	</div> -->
	<div class="dashboard-main-action-wrapper">
		<div class="category-prompter dashboard-action">
			<div class="header-text">Services</div>
			<div class="decription-text">Hire a Contractor</div>
			<div class="decription-text">Post your work</div>
		</div>
		<div class="register-yourself dashboard-action">
			<div class="header-text">Register</div>
			<div class="decription-text">Be a Entrepreneur</div>
			<div class="decription-text">Start Bidding</div>
		</div>
		<div class="track-progress dashboard-action">
			<div class="header-text">Track</div>
			<div class="decription-text">Work progress</div>
		</div>
		<div class="make-payments dashboard-action">
			<div class="header-text">Payments</div>
			<div class="decription-text">Make Payments to Contractor</div>
			<div class="decription-text">Other bills through PayMania</div>
		</div>
	</div>
	<div class="explore-categories-wrapper">
		<div class="category-wrapper">
			<div class="category-wrapper-title">Home Services</div>
			<div class="categories-list">
				<div class="categories">House cleaning</div>
				<div class="categories">House Paintings</div>
				<div class="categories">House shifting</div>
			</div>
		</div>
		<div class="category-wrapper">
			<div class="category-wrapper-title">Wooden works</div>
			<div class="categories-list">
				<div class="categories">Wooden floor</div>
				<div class="categories">Furnitures works</div>
				<div class="categories">Wooden doors and window</div>
			</div>
		</div>
	</div>

</div>